version: '3.8'

services:

  web:
    image: php:8.2-apache
    container_name: php_web
    ports:
      - "3000:80"
    volumes:
      - ./public_html:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: movies_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"